{% for item in comentario %}

{% if user.is_authenticated and user.id == item.usuario.id %}

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" style="text-align:right" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Opciones
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="{% url 'apps.comentarios:modificar_comentario' item.pk %}">Modificar
                comentario</a></li>
        <li><a class="dropdown-item" href="{% url 'apps.comentarios:eliminar_comentario' item.pk %}">Eliminar
                comentario</a></li>
    </ul>
</div>
{% endif %}

<div class="row justify-content-md-center ">
    <div class="col-md-6">
        <div class="list-group-item d-flex gap-3 py-3" aria-current="true">
            <img src="{{ item.usuario.imagen.url }}" style="width:10%; height: 10%;" alt="imagen_usuario" width="40" height="40"
                class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Usuario: {{ item.usuario.username }}</h6>
                    <p class="mb-0 text-break opacity-75">Comentario: {{ item.comentario }}</p>
                </div>
                <small class="opacity-50 text-nowrap">Fecha Comentario: {{ item.fecha }}</small>
            </div>
        </div>
    </div>
</div>
{% endfor %}