{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    <title>Inicio | Blog de viajes Franchi</title>
{% endblock %}

{% block navegacion %}
    {% include 'navegacion.html' %}
{% endblock %}

{% block contenido %}
<header class="position-relative">
    <div class="imagen">
        <img src="{% static 'img/fondo2.jpg' %}" class="img-fluid w-100"
        style="max-height: 60vh; object-fit: cover; filter: brightness(60%);">
    </div>
    

    <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
        <h1 class="fw-bold display-6" style="text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">
            ¡Comparte tus experiencias de viaje junto a las mias!
        </h1>
        <p class="lead mt-3" style="max-width: 700px; margin: auto;">
           ¡Embárcate en la aventura de tu vida y descubre los secretos mejor guardados de cada 
            destino! Deja que tus curiosidades te lleven a lugares inesperados, donde las sorpresas 
            están a la vuelta de la esquina y cada travesía es una nueva historia por escribir.
            Comparte tus experiencias con los lugares a los que he ido y revivamos juntos esos 
            monentos maravillosos. 
            A ello....!!!!!!
        </p>

    </div>
</header>

    <section>
            <div class="container">
                <h2 class="text-center fw-bold mb-4" style="font-family: 'Poppins', sans-serif;">
                    Viajes Destacados
                </h2>

                    {% include 'viajes/destacados2.html' %}
            </div>
    </section>


{% endblock %}